<div class="content">
    <div class="input-container">
        <label for="property" trans>Property</label>
        <select id="property" [formControl]="activeObject.form.get('animation.property')">
            <option value="{{animProperty}}" *ngFor="let animProperty of AnimProperties">{{animProperty}}</option>
        </select>
    </div>
    <div class="input-container">
        <label for="by" trans>By</label>
        <input type="number" id="by" [formControl]="activeObject.form.get('animation.by')">
    </div>
    <div class="input-container">
        <label for="duration" trans>Duration (ms)</label>
        <input type="number" min="1" [formControl]="activeObject.form.get('animation.duration')">
    </div>
</div>

<div class="animation button-with-image"
     *ngFor="let animation of defaultAnimation; index as index;"
     (click)="setAnimation(index)">
    <img class="anim-image" [src]="getAnimationUrl(index)"/>
    <label>{{ animation }}</label>
</div>