animation-controls-drawer {
  .content {
    margin-right: 1em;

    & .input-container {
      margin-right: 1em;
      width: 7em;
    }
  }
  .animation {
    margin: 0 5px;

    &:first-of-type {
      margin-left: 0;
    }
    & .anim-image {
      width: 100%;
    }
    & label {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}